# Server Port
PORT = 5000

# Project Identifier
projectName = Shortie

# JWT Secret Key
JWT_SECRET = your_jwt_secret_here

# Transnational Email
EMAIL = notify@example.com

# Server Base URL
baseURL = http://localhost:5000

# Secret key for API Gatekeeper
secretKey = 5TIvw5cpc0

# MongoDB Connection String
MongoDb_Connection_String = mongodb+srv://<username>:<password>@cluster0.mongodb.net/shortie?retryWrites=true&w=majority
